In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('LoansTrainingSet.csv')

C:\Users\hfran\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [5]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [6]:
df['Monthly Debt']=df['Monthly Debt'].str.replace('$','',regex=True)
df['Monthly Debt']=df['Monthly Debt'].str.replace(',','',regex=True)
df['Monthly Debt']=df['Monthly Debt'].astype('float')
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,1106.04,26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [7]:
df['Years in current job']=df['Years in current job'].str.extract('(\d+)')
df['Years in current job']=pd.to_numeric(df['Years in current job'],errors='coerce')
df['Years in current job'].head()

0    10.0
1     4.0
2    10.0
3    10.0
4     4.0
Name: Years in current job, dtype: float64

In [8]:
df['Years in current job'].fillna(df['Years in current job'].mean(), inplace=True)
df['Years in current job'].isnull().sum()

0

In [9]:
df['Current Loan Amount']=df['Current Loan Amount'].apply(lambda x : df['Current Loan Amount'].median() if x>=99999999 else x)

In [10]:
df['Credit Score']=df['Credit Score'].apply(lambda x: x/10 if x>800 else x)

In [11]:
df['Purpose'].unique()

array(['Debt Consolidation', 'other', 'Business Loan',
       'Home Improvements', 'Buy House', 'Other', 'Buy a Car',
       'Medical Bills', 'Take a Trip', 'Educational Expenses'],
      dtype=object)

In [12]:
df['Purpose'].replace('other','Other',inplace=True)

In [13]:
df['Maximum Open Credit']=pd.to_numeric(df['Maximum Open Credit'],errors='coerce')
df['Maximum Open Credit'][172595:]

172595     14044.0
172596     64775.0
172597     86512.0
172598     31192.0
172599    162593.0
            ...
256979     44080.0
256980      9758.0
256981     20090.0
256982     20090.0
256983     62371.0
Name: Maximum Open Credit, Length: 84389, dtype: float64

In [14]:
df['Maximum Open Credit'].fillna(df['Maximum Open Credit'].mean(), inplace=True)
df['Maximum Open Credit'].isnull().sum()

0

In [15]:
df['Bankruptcies'].fillna(df['Bankruptcies'].median(),inplace=True)
df['Bankruptcies'].isnull().sum()

0

In [16]:
df['Tax Liens'].fillna(df['Tax Liens'].median(),inplace=True)
df['Tax Liens'].isnull().sum()

0

In [17]:
from sklearn.ensemble import GradientBoostingRegressor

In [18]:
x=df[df['Credit Score'].notnull()]
x=x.drop('Credit Score', axis=1)
x=x[0:2000]
x=x[['Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
print(x.shape)
print(df.shape)

(2000, 6)
(256984, 19)

In [19]:
y=df[df['Credit Score'].notnull()]
y=y['Credit Score']
y=y[0:2000]
print(y.shape)
print(df.shape)

(2000,)
(256984, 19)

In [20]:
gbr=GradientBoostingRegressor().fit(x,y)

In [21]:
df_without_creditscore=df[df['Credit Score'].isnull()]
df_without_creditscore=df_without_creditscore.drop('Credit Score',axis=1)
df_without_creditscore=df_without_creditscore[['Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
df_without_creditscore.shape

(61676, 6)

In [22]:
df.loc[df['Credit Score'].isnull(),'Credit Score']=gbr.predict(df_without_creditscore)
df['Credit Score'].isnull().sum()

0

In [23]:
x=df[df['Annual Income'].notnull()]
x=x.drop('Annual Income', axis=1)
x=x[0:2000]
x=x[['Years in current job','Credit Score','Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
x=np.nan_to_num(x)
print(x.shape)
print(df.shape)

(2000, 8)
(256984, 19)

In [24]:
y=df[df['Annual Income'].notnull()]
y=y['Annual Income']
y=y[0:2000]
print(y.shape)
print(df.shape)

(2000,)
(256984, 19)

In [25]:
gbr=GradientBoostingRegressor().fit(x,y)
df_without_annual=df[df['Annual Income'].isnull()]
df_without_annual=df_without_annual.drop('Annual Income',axis=1)
df_without_annual=df_without_annual[['Years in current job','Credit Score','Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
df_without_annual=np.nan_to_num(df_without_annual)
df_without_annual.shape

(61676, 8)

In [26]:
df.loc[df['Annual Income'].isnull(),'Annual Income']=gbr.predict(df_without_annual)
df['Annual Income'].isnull().sum()

0

In [27]:
x=df[df['Months since last delinquent'].notnull()]
x=x.drop('Months since last delinquent', axis=1).reset_index()
x=x[0:2000]
x=x[['Annual Income','Years in current job','Credit Score','Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
x=np.nan_to_num(x)
print(x.shape)
print(df.shape)

(2000, 9)
(256984, 19)

In [28]:
y=df[df['Months since last delinquent'].notnull()]
y=y['Months since last delinquent']
y=y[0:2000]
print(y.shape)
print(df.shape)

(2000,)
(256984, 19)

In [29]:
gbr=GradientBoostingRegressor().fit(x,y)
df_without_msld=df[df['Months since last delinquent'].isnull()]
df_without_msld=df_without_msld.drop('Months since last delinquent',axis=1)
df_without_msld=df_without_msld[['Annual Income','Years in current job','Credit Score','Years of Credit History','Monthly Debt','Current Loan Amount','Number of Open Accounts','Number of Credit Problems','Current Credit Balance']]
df_without_msld=np.nan_to_num(df_without_msld)
df_without_msld.shape

(140383, 9)

In [30]:
df.loc[df['Months since last delinquent'].isnull(),'Months since last delinquent']=gbr.predict(df_without_msld)
df['Months since last delinquent'].isnull().sum()

0

In [31]:
df['Loan Status'].value_counts()

Fully Paid     176191
Charged Off     80793
Name: Loan Status, dtype: int64

In [32]:
df['Loan Status']=df['Loan Status'].replace({'Fully Paid':1,'Charged Off':0})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  int64
 3   Current Loan Amount           256984 non-null  float64
 4   Term                          256984 non-null  object
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  float64
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  float64
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  256984 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  float64
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(10), int64(4), object(5)
memory usage: 37.3+ MB

In [34]:
df=df[0:10000]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       10000 non-null  object
 1   Customer ID                   10000 non-null  object
 2   Loan Status                   10000 non-null  int64
 3   Current Loan Amount           10000 non-null  float64
 4   Term                          10000 non-null  object
 5   Credit Score                  10000 non-null  float64
 6   Years in current job          10000 non-null  float64
 7   Home Ownership                10000 non-null  object
 8   Annual Income                 10000 non-null  float64
 9   Purpose                       10000 non-null  object
 10  Monthly Debt                  10000 non-null  float64
 11  Years of Credit History       10000 non-null  float64
 12  Months since last delinquent  10000 non-null  float64
 13  Number of Open Accounts       10000 non-null  int64
 14  Number of Credit Problems     10000 non-null  int64
 15  Current Credit Balance        10000 non-null  int64
 16  Maximum Open Credit           10000 non-null  float64
 17  Bankruptcies                  10000 non-null  float64
 18  Tax Liens                     10000 non-null  float64
dtypes: float64(10), int64(4), object(5)
memory usage: 1.4+ MB

In [35]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,1,11520.0,Short Term,741.0,10.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41.000000,10,0,6760,16056.0,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,1,3441.0,Short Term,734.0,4.0,Home Mortgage,42269.0,Other,1106.04,26.3,31.430499,17,0,6262,19149.0,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,1,21029.0,Short Term,747.0,10.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,33.222753,5,0,20967,28335.0,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,1,18743.0,Short Term,747.0,10.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,39.768236,9,0,22529,43915.0,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,1,11731.0,Short Term,746.0,4.0,Rent,50025.0,Debt Consolidation,355.18,11.5,24.270596,12,0,17391,37081.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,09fc582c-694a-4e11-b02f-d15f29f223ac,4ec40420-9581-48b9-a79e-646dfb154b55,0,27997.0,Long Term,701.0,10.0,Rent,71071.0,Debt Consolidation,1184.52,27.6,29.394166,11,0,41781,86324.0,0.0,0.0
9996,09fc582c-694a-4e11-b02f-d15f29f223ac,4ec40420-9581-48b9-a79e-646dfb154b55,0,27997.0,Long Term,701.0,10.0,Rent,71071.0,Debt Consolidation,1184.52,27.6,29.394166,11,0,41781,86324.0,0.0,0.0
9997,09fd118f-0512-4717-91b6-4c3c1f7beb11,4fa1eeaa-0255-45f3-9544-f53c32ad3c94,1,13422.0,Short Term,733.0,10.0,Rent,50270.0,Debt Consolidation,1072.43,18.3,27.000000,10,0,6068,12562.0,0.0,0.0
9998,09fdcc65-0cad-403d-80b4-9eb4e19f15c7,5f0098f2-00ec-4fe1-8287-67b3ffea3b11,1,7372.0,Short Term,744.0,6.0,Home Mortgage,164144.0,Debt Consolidation,1723.52,16.9,32.760556,8,0,12483,38528.0,0.0,0.0
9999,09fe4358-4f22-4fb2-8780-33a744b9ee4c,1ee3b9aa-6fbc-4584-8f4d-aeca6b0a71eb,0,10612.0,Long Term,720.0,10.0,Home Mortgage,74792.0,Debt Consolidation,835.17,12.8,34.808303,14,1,8732,17395.0,1.0,0.0

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [37]:
df=pd.get_dummies(df,drop_first=True)

In [38]:
df

,Loan Status,Current Loan Amount,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,...,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,1,11520.0,741.0,10.0,33694.0,584.03,12.3,41.000000,10,0,...,0,0,0,0,1,0,0,0,0,0
1,1,3441.0,734.0,4.0,42269.0,1106.04,26.3,31.430499,17,0,...,0,0,0,0,0,0,0,0,1,0
2,1,21029.0,747.0,10.0,90126.0,1321.85,28.8,33.222753,5,0,...,0,0,0,0,1,0,0,0,0,0
3,1,18743.0,747.0,10.0,38072.0,751.92,26.2,39.768236,9,0,...,1,0,0,0,1,0,0,0,0,0
4,1,11731.0,746.0,4.0,50025.0,355.18,11.5,24.270596,12,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,27997.0,701.0,10.0,71071.0,1184.52,27.6,29.394166,11,0,...,0,1,0,0,1,0,0,0,0,0
9996,0,27997.0,701.0,10.0,71071.0,1184.52,27.6,29.394166,11,0,...,0,1,0,0,1,0,0,0,0,0
9997,1,13422.0,733.0,10.0,50270.0,1072.43,18.3,27.000000,10,0,...,0,1,0,0,1,0,0,0,0,0
9998,1,7372.0,744.0,6.0,164144.0,1723.52,16.9,32.760556,8,0,...,0,0,0,0,1,0,0,0,0,0
9999,0,10612.0,720.0,10.0,74792.0,835.17,12.8,34.808303,14,1,...,0,0,0,0,1,0,0,0,0,0

In [39]:
y=df['Loan Status']
x=df.drop(['Loan Status'],axis=1)
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.30, random_state = 40)

In [40]:
sc=MinMaxScaler()
x_train_scaled=sc.fit_transform(x_train)
x_test_scaled=sc.transform(x_test)

In [41]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, recall_score, precision_score, f1_score, roc_auc_score
from sklearn.model_selection import cross_val_score, cross_validate

In [42]:
def eval_metric(model, X_train, y_train, X_test, y_test):
    y_train_pred = model.predict(X_train)
    y_pred = model.predict(X_test)
    
    print("Test_Set")
    print(confusion_matrix(y_test, y_pred))
    print(classification_report(y_test, y_pred))
    print()
    print("Train_Set")
    print(confusion_matrix(y_train, y_train_pred))
    print(classification_report(y_train, y_train_pred))

In [43]:
ada_model = AdaBoostClassifier(n_estimators=50, random_state=42)

In [44]:
ada_model.fit(x_train_scaled,y_train)

AdaBoostClassifier(random_state=42)

In [45]:
eval_metric(ada_model, x_train_scaled, y_train, x_test_scaled, y_test)

Test_Set
[[ 287  648]
 [ 181 1884]]
              precision    recall  f1-score   support

           0       0.61      0.31      0.41       935
           1       0.74      0.91      0.82      2065

    accuracy                           0.72      3000
   macro avg       0.68      0.61      0.61      3000
weighted avg       0.70      0.72      0.69      3000


Train_Set
[[ 688 1507]
 [ 381 4424]]
              precision    recall  f1-score   support

           0       0.64      0.31      0.42      2195
           1       0.75      0.92      0.82      4805

    accuracy                           0.73      7000
   macro avg       0.69      0.62      0.62      7000
weighted avg       0.71      0.73      0.70      7000

In [46]:
from sklearn.model_selection import cross_val_score, cross_validate

model = AdaBoostClassifier(n_estimators=50, random_state=42)

scores = cross_validate(model, x_train_scaled, y_train, scoring = ["accuracy", "precision", "recall", "f1"], cv = 10)
df_scores = pd.DataFrame(scores, index = range(1, 11))
df_scores.mean()[2:]

test_accuracy     0.718286
test_precision    0.741224
test_recall       0.905937
test_f1           0.815260
dtype: float64